#stockLotAnalysisWizard th[data-id="sequence"],
#stockLotAnalysisWizard th[data-id="raw_material_analysis"],
#stockLotAnalysisWizard th[data-id="expected_result_expr"],
#stockLotAnalysisWizard th[data-id="expected_result_boolean"],
#stockLotAnalysisWizard th[data-id="result"],
#stockLotAnalysisWizard th[data-id="passed"],
#stockLotAnalysisWizard th[data-id="expr_error"],
#stockLotAnalysisWizard td[data-field="sequence"],
#stockLotAnalysisWizard td[data-field="raw_material_analysis"],
#stockLotAnalysisWizard td[data-field="expected_result_expr"],
#stockLotAnalysisWizard td[data-field="expected_result_boolean"],
#stockLotAnalysisWizard td[data-field="result"],
#stockLotAnalysisWizard td[data-field="passed"],
#stockLotAnalysisWizard td[data-field="expr_error"] {
    display: none;
}

#stockLotAnalysisWizard table.objetivo td.desactivado,
.openerp .oe_form_editable .oe_list_editable .oe_list_content.objetivo td.oe_required.desactivado {
    background-color: #EEE;
    cursor: default;
}
