td[data-field="bom_is_member_of"] {
    display: inline-block;
    width: 1px;
}

td[data-field="product_stock_unsafety_extended.action_bom_member_of_wizard"] {
    width: 22px;
}

td[data-field="bom_is_member_of"] > input[type=checkbox] {
    display: inline-block;
    width: 0;
}

td[data-field="bom_is_member_of"] > input[type=checkbox]:not(:checked)::after {
    content: "(X)";
    font-weight: bold;
    color: rgba(255, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left: 48px;
    padding-right: 10px;
    white-space: nowrap;
}
