img.zoomedImg {
  position: absolute;
  display: none;
  margin-left: 25%;
  top: 40px;
  width: 50%;
  border: 1px solid grey;
  cursor: url(../img/close.png),auto;
}

div.magnifying_glass {
    display: block;
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 10px;
    right: 0;
    background: url(../img/icon.png);
    cursor: pointer;
}
