.openerp .quality_row {
  float: left;
  display: table;
  width: 100%;
}
.openerp .quality_row table {
    margin: 0px;
    padding: 0px;
}
.openerp .quality_row ul {
  display: table-row;
}
.openerp .quality_row li {
  list-style-type: none;
  float: none;
  display: table-cell;
  position: relative;
  padding-left: 10px;
  padding-top: 3px;
  border: 1px solid #ababab;
  }
.openerp .quality_row table {
  width: 100%;
  position: relative;
}
.openerp .quality_row tr {
  height: 20px;
}
.openerp .quality_row tr td {
  padding-left: 5px;
}

.openerp .quality_view table tr td input:not([type="checkbox"]) {
  height: 100%;
  width: 100%;
  padding: 0;
}

.unique_field {
    display: inline-block;
    padding-bottom: 3px;
}
.unique_field label {
    width: 25%;
    float: left;
}
.unique_field input {
    width: 75%;
}
.unique_field input[type="checkbox"] {
    height: 17px;
    width: 17px;
}
.textCenter {
    text-align: center;
}

.view,.survey {
    padding-top:8px;
    padding-bottom:8px;
}

.quality_view .row input[type="checkbox"] {
    height: 17px;
    width: 17px;
}

.proto_fuente_normal {
  font-size: 11px;
}
.proto_fuente_grande {
  font-size: 14px;
}
.openerp .oe_form .survey h2,
.openerp .oe_form .quality_view h2 {
  font-size: 17px;
}
.openerp .oe_form .js_question-wrapper h2 span,
.openerp .oe_form .js_question-wrapper label {
  font-size: 14px;
}

@media print{
  .container {
    width: 1100px;
  }
  .proto_fuente_normal {
    font-size: 17px;
  }
  .proto_fuente_grande {
    font-size: 22px;
  }
  .openerp .oe_form .js_question-wrapper h2 span,
  .openerp .oe_form .js_question-wrapper label {
    font-size: 20px;
  }
  .openerp .oe_form .survey h2,
  .openerp .oe_form .quality_view h2 {
    font-size: 24px;
  }
}
